.reg_container{
    width: 30vw;
    min-width: 300px;
    height: 70vh;
    min-height: 600px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    overflow: visible; /* 자식 요소 가위 적용 */
    --reg-header-height: 10%;
    --reg-input-height: 35px;
    --reg-input-label-margin: 10px;
}

/* '회원가입' 문구 */
.reg_label{
    display: flex;
    margin-top: 15%;
    color: black;
    justify-content: center;
}

.reg_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--reg-header-height));
    justify-content: center;
    gap: 5px;
}

.reg_input_container{
    width: 60%;
    position: relative;
    overflow: visible;
}
/* 입력란 */
.reg_input{
    width: 100%;
    height: var(--reg-input-height);
    background-color: var(--stonesmith-light);
    border-radius: 20px;
    padding-left: 10px;
    color: black;
    border: 2px solid var(--stonesmith);
}

.reg_input:read-only{
    background-color: var(--stonesmith-highlighted);
    cursor: default;
}

.reg_input_label{
    color: black;
    margin-left: var(--reg-input-label-margin);
}

/* 회원가입 버튼 */
.register_button{
    width: 50%;
    height: 45px;
    border-radius: 8px;
    background-color: var(--stonesmith);
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;
}
.register_button:hover{
    background-color: var(--stonesmith-highlighted);
}