.reg_container{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    overflow: visible; /* 자식 요소 가위 적용 */
    --reg-header-height: 10%;
    --reg-input-height: 35px;
    --reg-input-label-margin: 10px;

    @apply w-full sm:w-[640px];
    @apply h-auto;
}

/* '회원가입' 문구 */
.reg_label{
    display: flex;
    margin-top: 15%;
    color: black;
    justify-content: center;
}

.reg_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--reg-header-height));
    justify-content: center;
    gap: 5px;
}

.reg_input_container{
    width: 60%;
    position: relative;
    overflow: visible;
}

/* 회원가입 버튼 */
.register_button{
    width: 50%;
    height: 45px;
    border-radius: 8px;
    background-color: var(--purple-grey);
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;
}
.register_button:hover{
    background-color: var(--purple-grey-highlighted);
}