.modal_text{
    color: black;
}

.modal_title{
}

.modal_confirm_button{
    border: none;
    border-radius: 8px;
    color: antiquewhite;
    background-color: var(--purple-grey);
    min-width: 100px;
    min-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.modal_confirm_button:hover{
    background-color: var(--purple-grey-highlighted);
}

.modal_button_container{
    display: flex;
    gap: 30px;
}